
    /* Global and custom styles */

  .bg-custom-beige {
    background-color: #F5F2EE;
  }
  
  .bg-custom-orange {
    background-color:  #ffA14f;
  }
  
  .fs-huge {
    font-size: 4rem !important; 
  }
  
  /* Banner styles */
  
    .banner-about {
      background: linear-gradient(to right, #ffA14f, #ffb879);
      font-weight: 500;
      z-index: 9999;
    }
    
    /* .banner-about a {
      font-weight: 500;
    }
   */
    /* Navigation styling */
  .navbar {
      z-index: 9990;
    }
    

    
    .hero-text {
      font-size: 1.2rem;
      max-width: 900px;
      margin: 0 auto;
      line-height: 1.6;
    }
    
    /* rounded through boostrap didn't work!*/
    .feature-card {
      overflow: hidden;  /* had to find this to make the pictures rounded */
      border-radius: 15px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    } 
    
    .feature-card:hover {
      transform: translateY(-5px);
    }
    
    .feature-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    

  
    .privacy-text {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .privacy-link {
        color: #ffA14f;
        text-decoration: none;
    }
    